<div class="container">

  <!-- Pesquisa -->
  <div class="p-grid">
    <form  autocomplete="off" (ngSubmit)="pesquisar()">        
      <div class="p-col-12">
        <h1>Pessoas</h1>
      </div>
  
      <div class="p-col-12 p-fluid">
        <label>Nome</label>
        <input pInputText type="text" name="nome" [(ngModel)]="filtro.nome">
      </div>
  
      <div class="p-col-12">
        <button pButton type="submit" label="Pesquisar"></button>
      </div>
    </form>
  </div>

  <!-- Lista de pessoas -->
  <div class="p-grid">
    <div class="p-col-12">
      <p-table [value]="pessoas" [responsive]="true"
        [paginator]="true" [rows]="filtro.itensPorPagina"
        [lazy]="true" [totalRecords]="totalRegistros"
        (onLazyLoad)="aoMudarPagina($event)"
        #tabela>
        <ng-template pTemplate="header">
          <tr>
            <th>Nome</th>
            <th>Cidade</th>
            <th>Estado</th>
            <th>Status</th>
            <th class="col-acoes-header"></th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-pessoa>
          <tr>
            <td>
              <span class="p-column-title">Nome</span>
              {{ pessoa.nome }}
            </td>
            <td>
              <span class="p-column-title">Cidade</span>
              {{ pessoa.endereco.cidade.nome }}
            </td>
            <td>
              <span class="p-column-title">Estado</span>
              {{ pessoa.endereco.cidade.estado.nome }}
            </td>
            <td>
              <span class="p-column-title">Status</span>
              <a href="javascript:;" [pTooltip]="pessoa.ativo ? 'Desativar' : 'Ativar'"
                  tooltipPosition="top" (click)="alternarStatus(pessoa)">
                {{ pessoa.ativo ? 'Ativo' : 'Inativo' }}
              </a>
            </td>
            <td class="col-acoes">
              <span class="p-column-title"></span>
              <a pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"
                [routerLink]="['/pessoas', pessoa.codigo]"></a>
              <button pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top"
                (click)="confirmarExclusao(pessoa)"></button>
            </td> 
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="5">
              Nenhuma pessoa encontrada
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div class="p-col-12">
      <a pButton label="Nova Pessoa" routerLink="/pessoas/nova"></a>
    </div>
  </div>
  
</div>