<div class="container">
  <form autocomplete="off" (ngSubmit)="salvar()" [formGroup]="formulario">

    <div class="p-grid">
      <div class="p-col-12">
        <h1>{{ editando ? 'Edição de' : 'Novo' }} Lançamento</h1>
      </div>

      <div class="p-col-12">
        <p-selectButton name="tipo" [options]="tipos"
          formControlName="tipo"></p-selectButton>
      </div>

      <div class="p-col-6 p-md-3 p-fluid">
        <label>Vencimento</label>
        <p-calendar name="vencimento" dateFormat="dd/mm/yy"
          [inline]="false" [readonlyInput]="false" [showIcon]="false"
          formControlName="dataVencimento"></p-calendar>
        <app-message [control]="formulario.get('dataVencimento')" error="required"
          text="Informe uma data de vencimento"></app-message>
      </div>

      <div class="p-col-6 p-md-3 p-fluid">
        <label>{{ formulario.get('tipo')?.value === 'RECEITA' ? 'Recebimento' : 'Pagamento' }}</label>
        <p-calendar dateFormat="dd/mm/yy" name="dataPagamento"
          formControlName="dataPagamento"></p-calendar>
      </div>

      <div class="p-col-12 p-md-9 p-fluid">
        <label>Descrição</label>
        <input pInputText type="text" name="descricao"
          formControlName="descricao">

        <app-message [control]="formulario.get('descricao')" error="required"
          text="Informe uma descrição"></app-message>
        <app-message [control]="formulario.get('descricao')" error="minlength"
          text="Mínimo de {{ formulario.get('descricao')?.errors?.minlength?.requiredLength }} caracteres"></app-message>
      </div>

      <div class="p-col-12 p-md-3 p-fluid">
        <label>Valor</label>
        <input pInputText type="text" name="valor" placeholder="0,00"
          currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',', allowNegative: false }"
          formControlName="valor">
      </div>

      <div class="p-col-12 p-md-6 p-fluid" formGroupName="categoria">
        <label>Categoria</label>
        <p-dropdown name="categoria" [options]="categorias"
          placeholder="Selecione"
          formControlName="codigo"></p-dropdown>
      </div>

      <div class="p-col-12 p-md-6 p-fluid" formGroupName="pessoa">
        <label>Pessoa</label>
        <p-dropdown name="pessoa" [options]="pessoas" placeholder="Selecione"
          [filter]="true"
          formControlName="codigo"></p-dropdown>
      </div>

      <div class="p-col-12 p-fluid">
        <label>Observação</label>
        <textarea pInputTextarea rows="3" name="observacao"
          formControlName="observacao"></textarea>
      </div>

      <div class="p-col-6 p-col-offset-6 p-md-2 p-md-offset-10 p-fluid"
        *ngIf="!formulario.get('anexo')?.value">
        <p-fileUpload name="anexo" mode="basic" [auto]="true" [maxFileSize]="100000000"
          chooseLabel="Anexar" accept="image/*,application/*" [headers]="uploadHeaders"
          [url]="urlUploadAnexo" 
          (onBeforeUpload)="antesUploadAnexo()"
          (onUpload)="aoTerminarUploadAnexo($event)"
          (onError)="erroUpload($event)"
          [hidden]="uploadEmAndamento">
        </p-fileUpload>

        <p-progressSpinner [hidden]="!uploadEmAndamento"
            [style]="{ width: '25px', height: '25px' }"></p-progressSpinner>
      </div>

      <div class="p-col-12 p-fluid" dir="rtl"
        *ngIf="formulario.get('anexo')?.value">
        <button pButton type="button" class="p-button-danger"
          icon="pi pi-times" pTooltip="Remover anexo" tooltipPosition="top"
          (click)="removerAnexo()"></button>

        <a target="_blank" pTooltip="Baixar anexo" tooltipPosition="top"
          [href]="formulario.get('urlAnexo')?.value">{{ nomeAnexo }}</a>
      </div>

      <div class="p-col-12">
        <button pButton type="submit" label="Salvar" [disabled]="formulario.invalid || uploadEmAndamento"></button>
        <button pButton type="button" label="Novo" class="p-button-info"
          (click)="novo()"></button>
        <a routerLink="/lancamentos">Voltar para a pesquisa</a>
      </div>
    </div>

  </form>
</div>