<div class="container">
  <div class="ui-g">

    <form autocomplete="off" (ngSubmit)="pesquisar()">

      <div class="ui-g-12">
        <h1>Pessoas</h1>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Nome</label>
        <input pInputText type="text" name="nome" [(ngModel)]="filtro.nome">
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Pesquisar"></button>
      </div>

    </form>

  </div>

  <div class="ui-g">
    <div class="ui-g-12">
      <p-dataTable [value]="pessoas" [responsive]="true"
        emptyMessage="Nenhuma pessoa encontrada"
        [paginator]="true" [rows]="filtro.itensPorPagina"
        [lazy]="true" [totalRecords]="totalRegistros"
        (onLazyLoad)="aoMudarPagina($event)"
        #tabela>
          <p-column field="nome" header="Nome"></p-column>
          <p-column field="endereco.cidade" header="Cidade"></p-column>
          <p-column field="endereco.estado" header="Estado"></p-column>
          <p-column field="ativo" header="Status">
            <ng-template let-pes="rowData" pTemplate="body">
                <a href="javascript:;"
                    [pTooltip]="pes.ativo ? 'Desativar' : 'Ativar'"
                    tooltipPosition="top"
                    (click)="alternarStatus(pes)">
                  {{ pes.ativo ? 'Ativo' : 'Inativo' }}
                </a>
            </ng-template>
          </p-column>
          <p-column styleClass="col-acoes">
            <ng-template let-pes="rowData" pTemplate="body">
              <a pButton icon="fa-pencil"
                pTooltip="Editar" tooltipPosition="top"
                [routerLink]="['/pessoas', pes.codigo]"></a>
              <button pButton icon="fa-trash"
                pTooltip="Excluir" tooltipPosition="top"
                (click)="confirmarExclusao(pes)"></button>
            </ng-template>
          </p-column>
      </p-dataTable>
    </div>

    <div class="ui-g-12">
      <a pButton label="Nova Pessoa" routerLink="/pessoas/nova"></a>
    </div>
  </div>

</div>
