<div class="container">
  <form #lancamentoForm="ngForm" autocomplete="off" (ngSubmit)="salvar(lancamentoForm)">

    <div class="grid">
      <div class="col-12">
        <h1>Novo Lançamento</h1>
      </div>

      <div class="col-12">
        <p-selectButton [options]="tipos" #tipo name="tipo" [(ngModel)]="lancamento.tipo"></p-selectButton>
      </div>

      <div class="col-6 md:col-3 p-fluid">
        <label>Vencimento</label>
        <p-calendar name="vencimento" dateFormat="dd/mm/yy" [inline]="false" [readonlyInput]="false" [showIcon]="false"
          [(ngModel)]="lancamento.dataVencimento" name="dataVencimento" #vencimento="ngModel" [required]="true">
        </p-calendar>

        <app-message [control]="vencimento.control" error="required" text="Informe uma data de vencimento">
        </app-message>
      </div>
      <div class="col-6 md:col-3 p-fluid">
        <label>{{ tipo.value === 'RECEITA' ? 'Recebimento' : 'Pagamento' }}</label>
        <p-calendar dateFormat="dd/mm/yy" name="dataPagamento" [(ngModel)]="lancamento.dataPagamento"></p-calendar>
      </div>
      <div class="col-12 md:col-9 p-fluid">
        <label>Descrição</label>
        <input pInputText type="text" name="descricao" [(ngModel)]="lancamento.descricao" #descricao="ngModel"
          [required]="true" minlength="5">

        <app-message [control]="descricao.control" error="required" text="Informe uma descrição"></app-message>
        <app-message [control]="descricao.control" error="minlength"
          text="Mínimo de {{ descricao.errors?.minlength?.requiredLength }} caracteres. Você digitou apenas {{ descricao.errors?.minlength?.actualLength }}">
        </app-message>
      </div>

      <div class="col-12 md:col-3 p-fluid">
        <label>Valor</label>
        <p-inputNumber mode="currency" currency="BRL" locale='pt-BR' placeholder="0,00" [(ngModel)]="lancamento.valor"
          #valor="ngModel" [required]="true" name="valor"></p-inputNumber>
      </div>
      <div class="col-12 md:col-6 p-fluid">
        <label>Categoria</label>
        <p-dropdown [options]="categorias" placeholder="Selecione" [(ngModel)]="lancamento.categoria.codigo"
          name="categoria" #categoria [required]="true"></p-dropdown>
      </div>
      <div class="col-12 md:col-6 p-fluid">
        <label>Pessoa</label>
        <p-dropdown [options]="pessoas" placeholder="Selecione" name="pessoa" [(ngModel)]="lancamento.pessoa.codigo"
          [filter]="true" #pessoa [required]="true"></p-dropdown>

      </div>
      <div class="col-12 p-fluid">
        <label>Observação</label>
        <textarea pInputTextarea rows="3" name="observacao" [(ngModel)]="lancamento.observacao"></textarea>
      </div>
      <div class="col-12">
        <button pButton type="submit" label="Salvar" [disabled]="lancamentoForm.invalid"></button>
        <button pButton type="button" label="Novo" class="p-button-info"></button>
        <a href="javascript:;">Voltar para a pesquisa</a>
      </div>
    </div>

  </form>
</div>