<nav class="navbar">

  <div class="container">
    <div class="p-grid">
      <div class="p-col-12">
        <a href="javascript:;" class="navbar-toggle" (click)="exibindoMenu = !exibindoMenu"><i class="pi pi-bars"></i></a>
      </div>
    </div>
  </div>

  <ul class="navbar-menu" [hidden]="!exibindoMenu">
    <li class="navbar-usuario">{{ usuarioLogado }}</li>
    <li class="navbar-menuitem" routerLinkActive="ativo" *ngIf="auth.temPermissao('ROLE_PESQUISAR_LANCAMENTO')">
      <a routerLink="/dashboard">Dashboard</a>
    </li>
    <li class="navbar-menuitem" routerLinkActive="ativo" *ngIf="temPermissao('ROLE_PESQUISAR_LANCAMENTO')">
      <a routerLink="/lancamentos">Lançamentos</a>
    </li>
    <li class="navbar-menuitem" routerLinkActive="ativo" *ngIf="temPermissao('ROLE_PESQUISAR_PESSOA')">
      <a routerLink="/pessoas">Pessoas</a>
    </li>
    <li class="navbar-menuitem" routerLinkActive="ativo" *ngIf="auth.temPermissao('ROLE_PESQUISAR_LANCAMENTO')">
      <a routerLink="/relatorios/lancamentos">Relatório</a>
    </li>
    <li class="navbar-menuitem"><a href="javascript:;" (click)="logout()">Logout</a></li>
  </ul>
  
</nav>