<div class="container" style="max-width: 400px; margin: auto">
  
    <form autocomplete="off" #loginForm="ngForm">
      <div class="p-grid">
  
        <div class="p-col-12 p-fluid">
          <h1>Login</h1>
        </div>
  
        <div class="p-col-12 p-fluid">
          <input pInputText type="email" name="usuario" placeholder="E-mail"
            ngModel required #usuario>
        </div>
  
        <div class="p-col-12 p-fluid">
          <input pInputText type="password" name="senha" placeholder="Senha"
            ngModel required #senha>
        </div>
  
        <div class="p-col-12">
          <button pButton type="submit" label="Login" [disabled]="loginForm.invalid"
            (click)="login(usuario.value, senha.value); senha.value=''"></button>
        </div>
  
      </div>
    </form>
  
  </div>