<div class="container">
    <div class="alert alert-success" role="alert" *ngIf="adicionado">
        Funcionário adicionado: <strong>{{nome}}</strong>
    </div>

    <!--
    <div class="alert alert-success" role="alert" [hidden]="!adicionado">
        Funcionário adicionado: <strong>{{nome}}</strong>
    </div>
    -->
    
    <div class="form-group">
        <label>Nome</label>
        <input type="text" class="form-control" [(ngModel)]="nome"
            (focus)="adicionado = false">
    </div>

    <button type="button" class="btn btn-primary" 
        (click)="adicionar()" [disabled]="nome.length == 0">Adicionar</button>

</div>