<div class="container">

  <div class="form-group">
    <label>Nome</label>
    <input type="text" class="form-control" #nome>
  </div>

  <button type="button" class="btn btn-primary"
    (click)="adicionar(nome.value); nome.value = ''">Adicionar</button>

  <table class="table" style="margin-top: 20px">
    <thead>
      <tr>
        <th>Código</th>
        <th>Nome</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cidade of cidades">
        <td>{{ cidade.id }}</td>
        <td>
          <div class="input-group">
            <input type="text" class="form-control" [(ngModel)]="cidade.nome">
            <span class="input-group-btn">
              <button class="btn btn-primary"
                (click)="atualizar(cidade)">Atualizar</button>
            </span>
          </div>
        </td>
        <td>
          <button class="btn btn-danger"
            (click)="excluir(cidade.id)">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>

</div>
