<div class="container">
  <div class="ui-g">

    <form autocomplete="off" (ngSubmit)="pesquisar()">

      <div class="ui-g-12">
        <h1>Lançamentos</h1>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Descrição</label>
        <input pInputText type="text" name="descricao"
          [(ngModel)]="filtro.descricao">
      </div>

      <div class="ui-g-12">
        <label style="display: block">Vencimento</label>
        <p-calendar dateFormat="dd/mm/yy" [inputStyle]="{ width: '95px' }"
          name="vencimentoInicio" [(ngModel)]="filtro.dataVencimentoInicio"></p-calendar>

        <label>até</label>
        <p-calendar dateFormat="dd/mm/yy" [inputStyle]="{ width: '95px' }"
          name="vencimentoFim" [(ngModel)]="filtro.dataVencimentoFim"></p-calendar>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Pesquisar"></button>
      </div>

    </form>
  </div>

  <div class="ui-g">
    <div class="ui-g-12">
      <p-table [value]="lancamentos" [responsive]="true"
          [paginator]="true" [rows]="filtro.itensPorPagina"
          [lazy]="true" [totalRecords]="totalRegistros"
          (onLazyLoad)="aoMudarPagina($event)"
          #tabela>
        <ng-template pTemplate="header">
          <tr>
            <th>Pessoa</th>
            <th>Descrição</th>
            <th class="col-data-header">Vencimento</th>
            <th class="col-data-header">Pagamento</th>
            <th class="col-valor-header">Valor</th>
            <th class="col-acoes-header"></th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-lancamento>
          <tr>
            <td>{{ lancamento.pessoa }}</td>
            <td>{{ lancamento.descricao }}</td>
            <td class="col-data">{{ lancamento.dataVencimento | date:'dd/MM/yyyy' }}</td>
            <td class="col-data">{{ lancamento.dataPagamento | date:'dd/MM/yyyy' }}</td>
            <td class="col-valor" [style.color]="lancamento.tipo === 'DESPESA' ? 'red' : 'blue'">
              {{ lancamento.valor | number:'1.2-2' }}</td>
            <td class="col-acoes">
              <button pButton icon="fa-pencil" pTooltip="Editar"
                tooltipPosition="top"
                [routerLink]="['/lancamentos', lancamento.codigo]"></button>

              <button pButton icon="fa-trash"
                pTooltip="Excluir" tooltipPosition="top"
                (click)="confirmarExclusao(lancamento)"
                [disabled]="!auth.temPermissao('ROLE_REMOVER_LANCAMENTO')"></button>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="6">
              Nenhum lançamento encontrado
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div class="ui-g-12">
      <a pButton label="Novo Lançamento" routerLink="/lancamentos/novo"></a>
    </div>

  </div>

</div>
